pom.xml
pom.xml.asc
*.jar
*.class
*.iml
/lib/
/classes/*
!/classes/.gitkeep
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.dir-locals.el
.env.local
.idea/
.DS_Store
.clj-kondo/
.lsp/